<p id="notice"><%= notice %></p>
  <div>
    <%= @book.title %>
  </div>
  <div>
    <%= @book.author %>
  </div>
  <div>
    <%= @book.year %>
  </div>
  <div>
    <%= @book.description %>
  </div>
  <div>
    $<%= @book.price %>
  </div>
<% if current_user == @book.user %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% else %>
  <%= link_to 'Hire', hire_books_path(:id => @book.id) %>
<% end %>
<%= link_to 'Back', books_path %>

